[Unit]
Description=ancs4linux Observer daemon
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=dbus
BusName=ancs4linux.Observer
ExecStart=/usr/bin/ancs4linux-observer

[Install]
WantedBy=default.target
