[Unit]
Description=ancs4linux Advertising daemon
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=dbus
BusName=ancs4linux.Advertising
ExecStart=/usr/bin/ancs4linux-advertising

[Install]
WantedBy=default.target
