[Unit]
Description=ancs4linux Desktop Integration daemon (should run as user)
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/ancs4linux-desktop-integration

[Install]
WantedBy=default.target
